.bucket-card {
    --card-image-h: 100%;
    --card-title-fs: 14px;
    --card-title-fw: 500;
    --card-bs: 0px 0px 5px 0px #00000040;

    flex-direction: row;
    gap: 5px;

    .card-body {
        .qty-price {
            display: flex;
            align-items: center;
            .qty{
                color: #9D9D9D;
                font-family: Arial, sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 19px;
            }
            .price {
                color: var(--primary);
                font-size: 15px;
                font-weight: 500;
                margin-left: auto;
            }
        }
    }
    

}