.header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  gap: 20px;

  .btn {
    --btn-c-h: var(--text);
    --btn-bg-h: var(--body);
    --btn-p: 0px;
    i {
      font-size: 40px;
    }
  }

  .search {
    width: 100%;
  }

  .filter-btn {
    .btn {
        // --btn-p: 12px;
        img {
            width: 20px;
        }
    }

  }
}
